<style>

  * {
    text-align:center;
    
  }
  
  h2 {
    font-size:80px;
    color:white;
    font-weight:bold;
    text-shadow:2px 2px #000000;
  }

  .pic {
    height: 500px;
    width: 500px;
  }

  body {
    background-image: url(<%= asset_path 'dining_hall.jpg' %>); 
    background-attachment: fixed;
    background-size: cover;
  }
/*  .page { background-image: url(https://i.ytimg.com/vi/-3eUutWw8gc/maxresdefault.jpg);
          background-attachment: fixed;
          background-size: cover;
          height:100%;
*/
 .actions {
   font-size:15px;
   padding-top:10px
}
  .field  label {
    color:white;
    font-size:25px;
    text-shadow: 2px 2px #000000
}

.field em {
    padding-top:0px;
    color:white;
    font-size:10px;
    position:relative;
    bottom:10px;
    text-shadow: 2px 2px #000000;
}

#pass {
  position:relative;
  right:0px;
  bottom:0px;
}

  a {
    color:white;
  }

</style>

<body>

<h2>Sign Up</h2>
<h3><b>Important:</b> We were too stingy to pay for twilio so you must register your phone number with us in order to recieve texts.</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.phone_field :phone_number, autofocus: true %>
  </div>
   
  <div class="field">
    <%= f.label :password %>
    <div id="deez"><% if @minimum_password_length %></div>
    <em style="position:relative; right:0px;">(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <div id="pass"><%= f.password_field :password, autocomplete: "off" %></div>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>


<% end %>
<%= render "users/shared/links" %>

</body>

